@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue500: #2a4f72;
  --blue400: #0373b7;
  --blue200: #9ac7e2;
  --blue100: #eff5fa;

  --neutral100: #ffffff;

  --error400: #e60a69;

  --green400: #008945;
  --green100: #effaf4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
}

:root .dark {
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.animated-button {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #3498db;
  color: white;
  border: none;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-button span {
  position: absolute;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.animated-button::before {
  content: attr(data-hover-text);
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  color: white;
}

.animated-button:hover span {
  transform: translateY(-100%);
  opacity: 0;
}

.animated-button:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.carousel {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 800px;
  height: 500px;
  object-fit: cover;
  position: relative;
}

.carousel-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-arrow-left {
  left: 10px;
}
.nav-arrow-right {
  right: 10px;
}

.carousel:hover .nav-arrow {
  opacity: 1;
}

.upcoming-indicator {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  width: 100px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.upcoming-indicator-left {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.upcoming-indicator-right {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}
